/* color: lavender 
antiquewhite
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  height: 100vh;
  /* overflow: hidden; */
  font-family: "Segoe UI", Arial, sans-serif;
}

.header,
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
}

.header {
  background-color: rgb(247, 217, 179);
  padding: 0.6rem 0;
  /* height: 10rem; */
}

.header h1 {
  letter-spacing: 2px;
  font-size: 4rem;
}

.main-container {
  align-items: flex-start;
  font-size: 2rem;
  height: 94%;
}

.sec-1,
.sec-2,
.sec-3 {
  height: 100%;
}

.sec-1 {
  width: 15%;
  background-color: ghostwhite;
}

ul {
  list-style: none;
}

.list-name {
  font-size: 2rem;
  padding: 0.5rem 0 0.5rem 2rem;
  border-bottom: 1px solid antiquewhite;
}

.new-list {
  font-weight: 100;
}

.list-name:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.completed {
  margin-top: 4rem;
  border-top: 1px solid antiquewhite;
}

.submit,
.delete-list {
  font-size: 1.8rem;
  width: 10rem;
  height: 3.5rem;
  margin-top: 2rem;
  border: none;
}

.delete {
  float: right;
  border: none;
  margin-right: 0.5rem;
  height: 2rem;
}

.fa-trash-alt {
  font-size: 1.8rem;
}

.fa-trash-alt:hover {
  color: #ec1d0e;
}

.btn {
  background-color: antiquewhite;
}

.btn:hover {
  background-color: burlywood;
  cursor: pointer;
}

.form {
  text-align: center;
}

.new-list {
  border: none;
  font-size: 2rem;
  margin-top: 5rem;
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
}

.submit {
  margin-top: 1rem;
}

.sec-2 {
  width: 42.5%;
  border-left: 1px solid antiquewhite;
  border-right: 1px solid antiquewhite;
}

.sec-2-list-name {
  padding: 1rem 0 1rem 2rem;
  font-weight: bold;
  font-size: 2.5rem;
  border-bottom: 1px solid antiquewhite;
}

.add-todo {
  display: flex;
}

.todo-input {
  flex: 1;
  border: none;
  background-color: #f6f6f6;
  font-weight: 100;
}

.new-todo {
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.sec-2 .todo {
  padding: 0.5rem 0;
  border-bottom: 1px solid antiquewhite;
}

.label,
.label input {
  height: 18px;
  width: 18px;
}

.label {
  float: left;
  margin-right: 1rem;
  user-select: none;
}

.label input {
  cursor: pointer;
  border: none;
}

.sec-2 .todo-content {
  margin-left: 2rem;
}

.sec-2 .delete-list {
  margin-left: 2rem;
}

.sec-3 {
  width: 42.5%;
  border-left: 1px solid antiquewhite;
  background-color: ghostwhite;
}

.details {
  border: 1px solid antiquewhite;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin: 1rem;
  padding: 1rem 2rem;
  background: white;
}

.todo-notes {
  padding: 0;
  display: flex;
}

.notes {
  border: none;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
  padding-left: 2rem;
}

.add-notes {
  border: none;
  padding: 0 2rem;
  font-size: 2rem;
}

.due-date {
  border: 2px solid antiquewhite;
  font-size: 1.6rem;
}

.todo-priority {
  display: flex;
  align-items: center;
}

.todo-priority {
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropbtn {
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  height: 4rem;
  padding: 0 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  color: black;
  text-decoration: none;
  background-color: antiquewhite;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  margin-left: 2rem;
}

.dropdown-content a:hover {
  background-color: burlywood;
}

.show {
  display: block;
}

.fa-circle {
  font-size: 1.8rem;
  padding-right: 1rem;
}

.red,
.red .fa-circle {
  color: red;
}

.yellow,
.yellow .fa-circle {
  color: yellow;
}

.green,
.green .fa-circle {
  color: green;
}

.purple,
.purple .fa-circle {
  color: purple;
}

.blue,
.blue .fa-circle {
  color: blue;
}

.pri-tag {
  margin-left: 2rem;
}
