/* color: lavender 
antiquewhite
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  height: 100vh;
  overflow: hidden;
}

.header,
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
}

.header {
  height: 5%;
  border-bottom: 1px solid rgb(247, 217, 179);
}

.header h1 {
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 4rem;
  color: rgb(245, 154, 35);
}

.main-container {
  text-align: center;
  font-size: 2rem;
  height: 95%;
}

.projects-list,
.project,
.todo-item {
  height: 100%;
}

.projects-list {
  width: 15%;
}

.new-todo,
.projects-list button {
  width: 10rem;
  height: 3.5rem;
  margin-top: 2rem;
  border: none;
}

.new-btn {
  font-weight: bold;
}

button:hover {
  background-color: rgb(247, 217, 179);
  cursor: pointer;
}

.project {
  width: 42.5%;
  border-left: 1px solid rgb(255, 217, 168);
  border-right: 1px solid rgb(255, 217, 168);
}

.project .name {
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  border-bottom: 1px solid rgb(255, 217, 168);
}

.project .item {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(255, 217, 168);
}

.label,
.label input {
  height: 18px;
  width: 18px;
}

.label {
  float: left;
  margin-left: 1rem;
  user-select: none;
}

.label input {
  cursor: pointer;
  border: none;
}

.project .new {
  position: sticky;
  bottom: 0;
  /* margin-top: 5rem; */
}

.todo-item {
  width: 42.5%;
}

.item-name {
  font-weight: bold;
}
