* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.container {
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: lavender;
  text-align: center;
}
